body{
    background-color: rgba(70, 142, 236, 1);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
    
}



section{
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.178);
    margin: auto;
    
}

footer{
    color: white;
    text-align: center;
    
}

